body{
	
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 18%, #ededed 43%, #ededed 93%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(18%, #f6f6f6), color-stop(43%, #ededed), color-stop(93%, #ededed));
	background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 18%, #ededed 43%, #ededed 93%);
	background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 18%, #ededed 43%, #ededed 93%);
	background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 18%, #ededed 43%, #ededed 93%);
	background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 18%, #ededed 43%, #ededed 93%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}
h1{ 
	color: black;
	font-size: 30px;
    font-family: 'Linux Libertine',Georgia,Times,serif;
    line-height: 1.3;
    margin-bottom: 0.25em; 
   
}
h2.subtitulo{
	font-size: 18px;
	text-align: center;
	font-variant: 
}
h3{
	font-size: 24px;
    font-family: 'Linux Libertine',Georgia,Times,serif;	
}
tr.tr-color{
	padding: 3px;
	text-align:center;
	background-color:transparent;
	color:black;
	background-color:#B8BAFE;

}
.list-group2{
	line-height:21px;
	padding-left: 0.1em;
	list-style: none;
	font-size: 12px;
	font-family: sans-serif;
}
.list-group1{
	line-height: 21px;
	padding-left: 0.8em;
	list-style: none;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 12px;
}
.list-left{
	color: efefef;
	font-family: sans-serif;
	font-size: 12px;
	line-height: 5px;
}

.well{
	background: slightblue;
	color: blue;

}

.panel{
    margin: auto;
    border: 1px solid rgba(66, 209, 244, 0.6);
}
a{
	color: #0645ad;
}
div.div1{

}
.nav{
	font-size: 13px;
	
}

div.main.row{

}
div.tabla-derecha{
	border-color: blue;
	width: 280px;
}
footer{
	font-size: 16px;
	text-align: center;
	color: white;
	background: #4c4c4c;
	background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #4c4c4c), color-stop(12%, #595959), color-stop(25%, #666666), color-stop(39%, #474747), color-stop(50%, #2c2c2c), color-stop(51%, #000000), color-stop(60%, #111111), color-stop(76%, #2b2b2b), color-stop(91%, #1c1c1c), color-stop(100%, #131313));
	background: -webkit-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
	background: -o-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
	background: -ms-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
	background: linear-gradient(to bottom, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
}
